@import url(./__foto/feinman__foto.css);
@import url(./__link/feinman__link.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__title/feinman__title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../section-title/section-title.css);

.feinman {
    height: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #F2F2F2;
    padding-top: 100px;
}